<h2>About the Monkees</h2>

<section>
    <p>
    The Monkees are a rock/pop group formed in 1965 to compliment an American situation comedy sitcom by the same name.
    Created in Los Angeles, the band at most comprised of four members: Peter Tork, Micky Dolenz, Davy Jones and Michael
    Nesmith and have been active intermitently to this day!
    </p>
    <p>
    The sitcom they starred in between September 1966 to March 1968 was popular but stunted their creativity due
    to the priority of recording their scenes. They eventualy found some middle ground and earned the right to take
    more creative control musicaly.
    </p>
    <p>
    At their height in 1967 they outsold the Beatles and the Rolling Stones combined. They have sold over 75 million
    records worldwide.
    </p>
</section>

<section>
    <h2>Members</h2>
    <div ng-repeat="member in ac.members">
        <h3>{{ member.name }}</h3>
        <img ng-src="{{ member.image }}" alt="A picture of {{ member.name }}">
        <ul>
            <li><span>Born: </span>{{ member.born }}</li>
            <li>Instruments: </li>
            <div ng-repeat="instrument in member.instruments">
                <ul>
                    <li>{{ instrument }}</li>    
                </ul>
            </div>

            <div ng-if="member.website">
                <a href="{{ member.website }}" id="member-webpage">{{ member.name }}'s website</a>
            </div>
            <a href="{{ member.wikipedia }}" id="member-webpage">{{ member.name }}'s Wikipedia</a>
        </ul>
    </div>
</section>

