<h2>Show Dates</h2>
<div id='date-filter'>
    <!-- Only show the relevent button-->
    <div ng-if="dc.orderBy == '-date'">
        <button ng-click="dc.orderBy = 'date'">Order by earliest</button>
    </div>
    <div ng-if="dc.orderBy == 'date'">
        <button ng-click="dc.orderBy = '-date'">Order by latest</button>
    </div>
    <label>Filter country</label>
    <input ng-model="search.country">
    <label>Filter city</label>
    <input ng-model="search.city">
</div>
<div ng-repeat="date in dc.dates | orderBy: dc.orderBy | filter:search">
    <div id="a-show-date">
        <h4>{{ date.venue }}</h4>
        <p><strong>Date: </strong>{{ date.date | date:'dd LLLL yyyy' }}</p>
        <p><strong>City: </strong>{{ date.city }}</p>
        <p><strong>Country: </strong>{{ date.country }}</p>
    </div>
</div>