/* ROOT ELEMENT STYLES */
/* TEXT SIZES */
h1 {font-size: 12rem;}
h2 {font-size: 10rem;}
h3 {font-size: 8rem;}
h4 {font-size: 6rem;}
p {font-size: 5.5rem;}
a {font-size: 5.5rem;}
label {font-size: 5.5rem;}
button {font-size: 5.5rem;}
figcaption {font-size: 5.5rem;}
li {font-size: 5.5rem;}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

header {
    background: #C33;
    color: white;
    box-shadow: 0px 20px 40px #888;
    margin-bottom: 40px;
     
}
/* HEADER ID'S */
#logo {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 10.5vw;
    text-shadow: 0px 4px #000;
}

#strapline {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 7vw;
    text-shadow: 0px 4px #000;
}

#lower-header-tray {
    text-shadow: 2px 4px #500;
}

#get-a-quote {
    color: #C00;
    font-weight: 700;
    border-top: 8px dotted red;
    border-bottom: 8px dotted red;
    margin: 20px 0;
}


/* MAIN NAV STYLES */
#main-nav {
    display: flex;
    flex-direction: column;
    background: #333;
    border-top: 6px solid black;
    border-bottom: 6px solid black; 
}
#main-nav a {
    text-decoration: none;
    font-size: 6rem;
    color: white;
    text-shadow: 0px 4px #000;
    margin: 10px 0;
}

#main-nav a:hover {
    color: #A33;
}

#lower-header-tray {
    display: flex;
}

#nav-button, #socials {
    font-size: 8rem;
    margin: 0 auto;
}

#socials a {
    font-size: 8rem;
    color: white;
    margin: 15px;
}

/* All elements loaded by Angular within the ui-route div */
#page-content {
    margin: 0 2.5%;
}

img {
    width: 90%;
}

/* FORM ELEMENTS */
input {
    border: 1px solid black;
}

button {
    border: 2px solid black;
    border-radius: 20px;
    padding: 2px 8px;
    box-shadow: 0px 10px #888;
}


input {
    height: 46px;
    padding: 10px 16px 0;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 6px;
}

/* Generic classed */
/* for elements with less individual styling */
.generic-section {
    border: 1px solid #CCC;
    border-radius: 10px;
    padding: 40px;
    margin: 10px 0;
    box-shadow: #AAA 0px 5px 5px;
}

/* HOME COMPONENT */
#a-random-fact {
    background: gold;
    color: black;
    border-radius: 20px;
    padding: 40px;
    margin: 20px 0;
    border: 6px dotted #AA0;
    box-shadow: #AAA 0px 5px 5px;
}

#title-image a {
    font-size: 4.5rem;
}

#find-out-more, #find-out-more a {
    font-size: 5rem;
}

#shows-home {
    margin: 40px 0;
    padding-top: 20px;
    border-top: 4px dotted #000;
}

#shows-home-parent {
    border-bottom: 4px dotted #000;
}

#home-music h3 {
    text-transform: capitalize;
}

/* ---- DATES COMPONENT ---- */
#a-show-date {
    margin: 60px 0;
}

#a-show-date h4 {
    background: #833;
    color: white;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 10px #888;
}

#date-filter {
    display: flex;
    flex-direction: column;
}

/* ---- ABOUT COMPONENT ---- */
#member-webpage {
    font-size: 4rem;
}

/* ---- MUSIC COMPONENT ---- */
#song-detail {
    margin-top: 20px;
    text-transform: capitalize;
    border: 2px solid #A33;
    border-radius: 30px;
    box-shadow: #888 0 10px;
    background: #FDD;
}

#song-detail h3 {
    color: #A00;
    font-size: 7vw;
}

#song-detail p {
    font-weight: 400;
    text-align: left;
    margin: 50px 0 50px 5%;
}

#song-detail strong {
    border: 2px solid #CCC;
    padding: 10px;
    border-radius: 20px;
    box-shadow: #888 0 6px;
    background: white;
}